<!--Header Start-->
<header id="rs-header" class="rs-header">
    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo-area">
                        <a href="\"><img src="assets/images/logo-dark.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-9 text-right">
                    <div class="rs-menu-area">
                        <div class="main-menu">
                            <div class="mobile-menu">
                                <a class="rs-menu-toggle">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                            <nav class="rs-menu pr-65">
                                <ul class="nav-menu">

                                    <li class="rs-mega-menu mega-rs menu-item-has-children current-menu-item">
                                        <a href="\">Home</a>
                                    </li>

                                    <li class="rs-mega-menu mega-rs">
                                        <a href="\quem-somos">Quem Somos</a>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">Serviços</a>
                                        <ul class="sub-menu">
                                            <li><a href="\fabrica-de-software">Fábrica de Software</a></li>
                                            <li><a href="\alocacao-de-profissionais">Alocação de Profissionais</a></li>
                                            <li><a href="\treinamento">Treinamento</a></li>
                                        </ul>
                                    </li>

                                    <li class="rs-mega-menu mega-rs">
                                        <a href="\blog">Blog</a>
                                    </li>

                                    <li class="rs-mega-menu mega-rs">
                                        <a href="\contato">Contato</a>
                                    </li>

                                </ul> <!-- //.nav-menu -->
                            </nav>
                        </div> <!-- //.main-menu -->
                        <div class="expand-btn-inner">
                            <ul>
                                <!-- <li class="search-parent">
                                    <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal"
                                        href="#">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li> -->
                                <li>
                                    <a id="nav-expander" class="humburger nav-expander" href="#">
                                        <span class="dot1"></span>
                                        <span class="dot2"></span>
                                        <span class="dot3"></span>
                                        <span class="dot4"></span>
                                        <span class="dot5"></span>
                                        <span class="dot6"></span>
                                        <span class="dot7"></span>
                                        <span class="dot8"></span>
                                        <span class="dot9"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->

    <!-- Canvas Menu start -->
    <nav class="right_menu_togle hidden-md">
        <div class="close-btn">
            <span id="nav-close" class="humburger">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
                <span class="dot4"></span>
                <span class="dot5"></span>
                <span class="dot6"></span>
                <span class="dot7"></span>
                <span class="dot8"></span>
                <span class="dot9"></span>
            </span>
        </div>
        <div class="canvas-logo">
            <a href="index.html"><img src="assets/images/logo-dark.png" alt="logo"></a>
        </div>
        <div class="offcanvas-text">
            <p>Consectetur adipiscing elit. Duis at dictum risus, non suscip it arcu. Quisque aliquam posuere tortor
                aliquam posuere tortor develop database.</p>
        </div>
        <div class="canvas-contact">
            <ul class="contact">
                <li><i class="flaticon-location"></i> Av. Industrial, 780 - Sala 1301 - Santo André - SP - Brasil</li>
                <li><i class="flaticon-call"></i><a href="tel:+551112345678">(11)1234-5678</a></li>
                <li><i class="flaticon-email"></i><a href="mailto:contato@agworks.com.br">contato@agworks.com.br</a></li>
                <li><i class="flaticon-clock"></i>09:00 - 18:00</li>
            </ul>
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </nav>
    <!-- Canvas Menu end -->
</header>
<!--Header End-->