<div id="rs-about" class="rs-about style1 bg1 md-pt-80">
    <div class="container">
        <div class="row y-bottom">
            <div class="col-lg-6 padding-0">
                <img src="assets/images/about/about1.png" alt="">
            </div>
            <div class="col-lg-6 pl-66 pt-75 pb-75 md-pt-42 md-pb-72">
                <div class="sec-title mb-47 md-mb-42">
                    <div class="sub-title primary">About Us</div>
                    <h2 class="title mb-0">Welcome to World Best Business Company</h2>
                </div>
                <div class="services-part mb-30">
                    <div class="services-icon">
                        <img src="assets/images/about/icons/1.png" alt="image">
                    </div>
                    <div class="services-text">
                        <h4 class="title">The ability to identify market-entry</h4>
                        <div class="desc">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet eius modi
                            tempora data.</div>
                    </div>
                </div>
                <div class="services-part">
                    <div class="services-icon">
                        <img src="assets/images/about/icons/2.png" alt="image">
                    </div>
                    <div class="services-text">
                        <h4 class="title">Ensure to increase of expected sales</h4>
                        <div class="desc">Find remarkable ideas is that this text has been the industry's standard ever
                            in business.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>