<div class="rs-blog style1 pt-91 pb-92 md-pt-71 md-pb-72 sm-pb-75">
    <div class="container">
        <div class="row y-middle mb-53 md-mb-40 sm-mb-50">
            <div class="col-md-6 sm-mb-22">
                <div class="sec-title">
                    <span class="sub-title primary right-line">LATEST NEWS</span>
                    <h2 class="title mb-0">Read Latest Updates</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-part text-right sm-text-left">
                    <a class="readon" href="#">View Updates</a>
                </div>
            </div>
        </div>
        <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="3" data-margin="30"
            data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800"
            data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1"
            data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2"
            data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="1"
            data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false"
            data-md-device-dots="true">
            <div class="blog-wrap">
                <div class="img-part">
                    <img src="assets/images/blog/1.jpg" alt="">
                    <div class="fly-btn">
                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="content-part">
                    <a class="categories" href="#">Strategy</a>
                    <h3 class="title"><a href="#">Covid-19 threatens the next generation of smartphones</a></h3>
                    <div class="blog-meta">
                        <div class="user-data">
                            <img src="assets/images/blog/avatar/1.png" alt="">
                            <span>admin</span>
                        </div>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-wrap">
                <div class="img-part">
                    <img src="assets/images/blog/2.jpg" alt="">
                    <div class="fly-btn">
                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="content-part">
                    <a class="categories" href="#">Management</a>
                    <h3 class="title"><a href="#">Soundtrack filma Lady Exclusive Music</a></h3>
                    <div class="blog-meta">
                        <div class="user-data">
                            <img src="assets/images/blog/avatar/1.png" alt="">
                            <span>admin</span>
                        </div>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-wrap">
                <div class="img-part">
                    <img src="assets/images/blog/3.jpg" alt="">
                    <div class="fly-btn">
                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="content-part">
                    <a class="categories" href="#">Consulting</a>
                    <h3 class="title"><a href="#">Winged moved stars, fruit creature seed night.</a></h3>
                    <div class="blog-meta">
                        <div class="user-data">
                            <img src="assets/images/blog/avatar/1.png" alt="">
                            <span>admin</span>
                        </div>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-wrap">
                <div class="img-part">
                    <img src="assets/images/blog/4.jpg" alt="">
                    <div class="fly-btn">
                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="content-part">
                    <a class="categories" href="#">Development</a>
                    <h3 class="title"><a href="#">Given void great you’re good appear have i also fifth</a></h3>
                    <div class="blog-meta">
                        <div class="user-data">
                            <img src="assets/images/blog/avatar/1.png" alt="">
                            <span>admin</span>
                        </div>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-wrap">
                <div class="img-part">
                    <img src="assets/images/blog/5.jpg" alt="">
                    <div class="fly-btn">
                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="content-part">
                    <a class="categories" href="#">Creative</a>
                    <h3 class="title"><a href="#">Lights winged seasons abundantly evening.</a></h3>
                    <div class="blog-meta">
                        <div class="user-data">
                            <img src="assets/images/blog/avatar/1.png" alt="">
                            <span>admin</span>
                        </div>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-wrap">
                <div class="img-part">
                    <img src="assets/images/blog/6.jpg" alt="">
                    <div class="fly-btn">
                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="content-part">
                    <a class="categories" href="#">Finance</a>
                    <h3 class="title"><a href="#">Team You Want to Work With mistakes runners</a></h3>
                    <div class="blog-meta">
                        <div class="user-data">
                            <img src="assets/images/blog/avatar/1.png" alt="">
                            <span>admin</span>
                        </div>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-wrap">
                <div class="img-part">
                    <img src="assets/images/blog/3.jpg" alt="">
                    <div class="fly-btn">
                        <a href="#"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="content-part">
                    <a class="categories" href="#">Consulting</a>
                    <h3 class="title"><a href="#">Winged moved stars, fruit creature seed night.</a></h3>
                    <div class="blog-meta">
                        <div class="user-data">
                            <img src="assets/images/blog/avatar/1.png" alt="">
                            <span>admin</span>
                        </div>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> 06 Sep 2019
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>