<div id="rs-portfolio" class="rs-portfolio style1">
    <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="4" data-margin="22"
        data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true"
        data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1"
        data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false"
        data-ipad-device-dots="true" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false"
        data-md-device="3" data-lg-device="4" data-md-device-nav="false" data-md-device-dots="true">
        <div class="portfolio-item">
            <div class="img-part">
                <img src="assets/images/casestudies/1.jpg" alt="">
            </div>
            <div class="content-part">
                <a class="categories" href="#">Marketing</a>
                <h4 class="title"><a href="#">Stock Investments</a></h4>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="img-part">
                <img src="assets/images/casestudies/2.jpg" alt="">
            </div>
            <div class="content-part">
                <a class="categories" href="#">Business</a>
                <h4 class="title"><a href="#">Big Data Services</a></h4>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="img-part">
                <img src="assets/images/casestudies/3.jpg" alt="">
            </div>
            <div class="content-part">
                <a class="categories" href="#">Consulting</a>
                <h4 class="title"><a href="#">HR Recruiting</a></h4>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="img-part">
                <img src="assets/images/casestudies/4.jpg" alt="">
            </div>
            <div class="content-part">
                <a class="categories" href="#">Strategy</a>
                <h4 class="title"><a href="#">Security Services</a></h4>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="img-part">
                <img src="assets/images/casestudies/5.jpg" alt="">
            </div>
            <div class="content-part">
                <a class="categories" href="#">Finance</a>
                <h4 class="title"><a href="#">Sales Enablement</a></h4>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="img-part">
                <img src="assets/images/casestudies/6.jpg" alt="">
            </div>
            <div class="content-part">
                <a class="categories" href="#">Business</a>
                <h4 class="title"><a href="#">Advertising Technology</a></h4>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="img-part">
                <img src="assets/images/casestudies/7.jpg" alt="">
            </div>
            <div class="content-part">
                <a class="categories" href="#">Consulting</a>
                <h4 class="title"><a href="#">Support Technology</a></h4>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="img-part">
                <img src="assets/images/casestudies/8.jpg" alt="">
            </div>
            <div class="content-part">
                <a class="categories" href="#">Marketing</a>
                <h4 class="title"><a href="#">Stock Market Analysis</a></h4>
            </div>
        </div>
    </div>
</div>