<div class="rs-services style1 pt-100 pb-84 md-pt-80 md-pb-64">
    <div class="container">
        <div class="row gutter-16">
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/1.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Solution Focused</a></h5>
                        <div class="desc"> We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/2.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Customer Oriented</a></h5>
                        <div class="desc"> We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/3.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">99.99% Success</a></h5>
                        <div class="desc"> We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/4.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Decision Maker</a></h5>
                        <div class="desc"> We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>