<div id="rs-services" class="rs-services style1 modify pt-92 pb-84 md-pt-72 md-pb-64">
    <div class="container">
        <div class="sec-title text-center mb-47 md-mb-42">
            <div class="sub-title primary">Services</div>
            <h2 class="title mb-0">Our Best Services</h2>
        </div>
        <div class="row gutter-16">
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/modify/1.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Business Analysis</a></h5>
                        <div class="desc">We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/modify/2.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Reports Analysis</a></h5>
                        <div class="desc">We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/modify/3.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Profit Planning</a></h5>
                        <div class="desc">We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/modify/4.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Project Reporting</a></h5>
                        <div class="desc">We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/modify/5.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Estate Planning</a></h5>
                        <div class="desc">We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/modify/6.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Security Enhanced</a></h5>
                        <div class="desc">We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part">
                        <img src="assets/images/services/icons/modify/7.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Cloud Computing</a></h5>
                        <div class="desc">We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="service-wrap">
                    <div class="icon-part size-mod">
                        <img src="assets/images/services/icons/modify/8.png" alt="">
                    </div>
                    <div class="content-part">
                        <h5 class="title"><a href="#">Cryptocurrency</a></h5>
                        <div class="desc">We always provide people a complete solution focused of any business.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>