<div class="rs-skillbar style1 pt-92 pb-100 md-pt-72 md-pb-80 sm-pt-80">
    <div class="container">
        <div class="gray-bg">
            <div class="row">
                <div class="col-lg-6 content-part">
                    <div class="sec-title mb-35 md-mb-30">
                        <div class="sub-title primary">LET'S START</div>
                        <h2 class="title mb-0">Start Your Business with brainstorming</h2>
                    </div>
                    <div class="cl-skill-bar">
                        <!-- Start Skill Bar -->
                        <span class="skillbar-title">Business</span>
                        <div class="skillbar" data-percent="80">
                            <p class="skillbar-bar"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- Start Skill Bar -->
                        <span class="skillbar-title">Consulting</span>
                        <div class="skillbar" data-percent="70">
                            <p class="skillbar-bar"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- Start Skill Bar -->
                        <span class="skillbar-title">Strategy</span>
                        <div class="skillbar" data-percent="88">
                            <p class="skillbar-bar"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <div class="btn-part mt-60">
                            <a class="readon" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-0 md-order-first md-pl-pr-15">
                    <div class="bg-part md-pt-200 md-pb-200"></div>
                </div>
            </div>
        </div>
    </div>
</div>