<div id="rs-slider" class="rs-slider slider1">
    <div class="bend niceties">
        <div id="nivoSlider" class="slides">
            <img src="assets/images/slider/h1-sl1.jpg" alt="" title="#slide-1" />
            <img src="assets/images/slider/h1-sl2.jpg" alt="" title="#slide-2" />
        </div>
        <!-- Slide 1 -->
        <div id="slide-1" class="slider-direction">
            <div class="container">
                <div class="content-part">
                    <div class="slider-des">
                        <h1 class="sl-title white-color">Need Better Plan To Start Business </h1>
                        <div class="sl-desc">
                            Lorem Ipsum is simply dummy text of the printing and type setting has been the industry's
                            standard dummy text.
                        </div>
                    </div>
                    <div class="slider-bottom">
                        <ul>
                            <li><a href="#" class="readon banner-style">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 2 -->
        <div id="slide-2" class="slider-direction">
            <div class="container">
                <div class="content-part">
                    <div class="slider-des">
                        <h1 class="sl-title white-color">Need Better Plan To Start Business </h1>
                        <div class="sl-desc">
                            Lorem Ipsum is simply dummy text of the printing and type setting has been the industry's
                            standard dummy text.
                        </div>
                    </div>
                    <div class="slider-bottom">
                        <ul>
                            <li><a href="#" class="readon banner-style">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>