<div class="rs-testimonial style1 gray-bg pt-92 md-pt-72">
    <div class="container">
        <div class="sec-title text-center mb-54 md-mb-39">
            <div class="sub-title primary">Testimonials</div>
            <h2 class="title mb-0">Customers Reviews</h2>
        </div>
        <div class="white-bg">
            <div class="row">
                <div class="col-lg-6 pr-0 md-pl-pr-15">
                    <div class="bg-part md-pt-200 md-pb-200"></div>
                </div>
                <div class="col-lg-6 slider-part">
                    <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="1" data-margin="30"
                        data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800"
                        data-dots="true" data-nav="false" data-nav-speed="false" data-center-mode="false"
                        data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false"
                        data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="true"
                        data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false"
                        data-md-device="1" data-lg-device="1" data-md-device-nav="false" data-md-device-dots="true">
                        <div class="testi-item">
                            <div class="content-part text-center">
                                <div class="icon-part">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="desc">Capitalize on low hanging fruit to identify a ballpark value added
                                    activity to beta test. Override the digital divide with additional clickthroughs
                                    from DevOps. Nanotechnology immersion along the information highway.</div>
                            </div>
                            <div class="posted-by text-center">
                                <div class="avatar">
                                    <img src="assets/images/testimonial/avatar/1.jpg" alt="">
                                </div>
                                <h5 class="name">Lisa Fedro</h5>
                                <span class="designation">CEO, Keen IT Solution</span>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="content-part text-center">
                                <div class="icon-part">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="desc">Capitalize on low hanging fruit to identify a ballpark value added
                                    activity to beta test. Override the digital divide with additional clickthroughs
                                    from DevOps. Nanotechnology immersion along the information highway.</div>
                            </div>
                            <div class="posted-by text-center">
                                <div class="avatar">
                                    <img src="assets/images/testimonial/avatar/2.jpg" alt="">
                                </div>
                                <h5 class="name">Mike Hotten</h5>
                                <span class="designation">CEO, Brick Consulting</span>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="content-part text-center">
                                <div class="icon-part">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="desc">Capitalize on low hanging fruit to identify a ballpark value added
                                    activity to beta test. Override the digital divide with additional clickthroughs
                                    from DevOps. Nanotechnology immersion along the information highway.</div>
                            </div>
                            <div class="posted-by text-center">
                                <div class="avatar">
                                    <img src="assets/images/testimonial/avatar/3.jpg" alt="">
                                </div>
                                <h5 class="name">Israt Jahan</h5>
                                <span class="designation">CEO, Brick Consulting</span>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="content-part text-center">
                                <div class="icon-part">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="desc">Capitalize on low hanging fruit to identify a ballpark value added
                                    activity to beta test. Override the digital divide with additional clickthroughs
                                    from DevOps. Nanotechnology immersion along the information highway.</div>
                            </div>
                            <div class="posted-by text-center">
                                <div class="avatar">
                                    <img src="assets/images/testimonial/avatar/4.jpg" alt="">
                                </div>
                                <h5 class="name">Jorina Bibi</h5>
                                <span class="designation">CEO, Brick Consulting</span>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="content-part text-center">
                                <div class="icon-part">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="desc">Capitalize on low hanging fruit to identify a ballpark value added
                                    activity to beta test. Override the digital divide with additional clickthroughs
                                    from DevOps. Nanotechnology immersion along the information highway.</div>
                            </div>
                            <div class="posted-by text-center">
                                <div class="avatar">
                                    <img src="assets/images/testimonial/avatar/5.jpg" alt="">
                                </div>
                                <h5 class="name">Rafian Sagar</h5>
                                <span class="designation">CEO, Brick Consulting</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>