<!-- Breadcrumbs Section Start -->
<%- include("./partials/breadcrumb.ejs") -%>
<!-- Breadcrumbs Section End -->


<!-- Contact Section Start -->
<div id="rs-contact" class="rs-contact inner pt-100 md-pt-80">
    <div class="container">
        <div class="content-info-part mb-60">
            <div class="row gutter-16">
                <div class="col-lg-4 md-mb-30">
                    <div class="info-item">
                        <div class="icon-part">
                            <i class="fa fa-at"></i>
                        </div>
                        <div class="content-part">
                            <h4 class="title">Phone Number</h4>
                            <a href="tel:+088589-8745">(+088)589-8745</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-mb-30">
                    <div class="info-item">
                        <div class="icon-part">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="content-part">
                            <h4 class="title">Email Address</h4>
                            <a href="mailto:support@rstheme.com">support@rstheme.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-item">
                        <div class="icon-part">
                            <i class="fa fa-map-o"></i>
                        </div>
                        <div class="content-part">
                            <h4 class="title">Office Address</h4>
                            <p>228 Main Street, Georgia, USA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Free Quote Section Start -->
        <%- include("./partials/free-quote.ejs") -%>
        <!-- Free Quote Section End -->

    </div>
    <div class="g-map mt-100 md-mt-80">
        <iframe
            src="https://maps.google.com/maps?q=37.803467%2C%20-122.472369&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>
</div>
<!-- Contact Section End -->