<div class="rs-counter modify bg21 pt-92 pb-100 md-pt-72 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-52 md-mb-29">
            <div class="sub-title white-color">Fun Facts</div>
            <h2 class="title mb-0 white-color">Facts For Choosing Us</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                <div class="couter-part thousand">
                    <div class="rs-count">100</div>
                    <h5 class="title">Happy Clients</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-30">
                <div class="couter-part plus">
                    <div class="rs-count">250</div>
                    <h5 class="title">Projects Done</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 xs-mb-30">
                <div class="couter-part plus">
                    <div class="rs-count">60</div>
                    <h5 class="title">Expert People</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="couter-part thousand">
                    <div class="rs-count">230</div>
                    <h5 class="title">Portfolios</h5>
                </div>
            </div>
        </div>
    </div>
</div>