<div class="rs-cta bg21 pt-90 pb-100 md-pt-68 md-pb-80 mb-5">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title modify white">Any plan to start a project</div>
            <h2 class="title3 white-color">Our Experts always ready to work <br> with you.</h2>
            <div class="btn-part">
                <a class="readon banner-style" href="#">Get started</a>
            </div>
        </div>
    </div>
</div>